.slidevalue {
  margin: 0 15px;
  color: white;
  font-size: 1em;
  font-family: 'Coming Soon', cursive;
}

.range {
  width: 100%;
  display: inline-flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.filtergroup .slide {
  width: 375px;
  padding: 0 5px;
  display: flex;
  align-items: center;
}